<div class="login>
 
<form class="form" action="/reviews/<%=@review.id%>" method="POST">
<h3>Edit the Comment</h3>
<input id="hidden" type="hidden" name="_method" value="patch">

<p>Critic: <%= @user.username.upcase %></p>

<div><label>Review: </label></div>
<!-- <input type="text" name="review_content" id="review_content" value="<%= @review.review_content %>" > -->
<textarea id="review_content"  name="review_content" value="<%= @review.review_content %>" rows="5" cols="50"><%= @review.review_content %> </textarea>


<div><label>Rating: </label></div>
<input type="text" name="star_rating" id="star_rating" value="<%= @review.star_rating %>" >
    
<br>
<br>

<input class="btn btn-success login-btn" type="submit" value="Submit">

</form>

</div>

