 <section id="reviews_summary">

    <div class="row">
    <div class="my-reviews-column col-lg-4">
        <div class="card">
        <div class="card-header">
            Hello, <%= @current_user.username %>. Here are your comments:
        </div><!-- end card-header-->
        
        <div class="card-body">
 

         <% @sorted_reviews.each do |review|  %> 

        <a href="/reviews/<%= review.id  %>" ><%= review.movie.title %></a> 
        <br>
        <% end %>


        </div><!-- end card-body-->
        </div><!--end card -->
    </div> <!-- end my-reviews-column-->

    <div class="others-reviews-column col-lg-4">  
        <div class="card">
        <div class="card-header">
            Recent comments by others:
        </div> <!-- end card-header-->

        <div class="card-body">
            <% @last5_reviews.each do |r|    %>  
                <a href="/reviews/<%= r.id %>" ><%= r.movie.title %></a> - <%= r.user.username %>

                 <br>
            <% end %>

         </div><!-- end card-body-->
         </div><!-- end card-->
    </div> <!-- end my-review-column-->

    <div class="most-reviewed-column col-lg-4">
    <div class="card">
        <div class="card-header">
            Movies with most comments:
        </div><!--end card-header-->

        <div class="card-body">
       

            <% @top3_movies.each do |m|  %>  
                  <a href="/movies/<%= m.slug %>" ><%= m.title %></a> - <%= m.reviews.count %> reviews 
                 <br>
                 <% end %>
            <br>


        </div><!--end card-body-->
        </div><!-- end card-->
    </div> <!-- end most-review-column-->
</div> <!--end row-->
 
<br>
<br>

<div class="container">
<div class="row">
   <div class="col text-center">
   <a href="/movies/search"><button type="button" class="btn btn-success login-btn btn-lg"><i class="fas fa-search"></i> Search for a Movie</button></a>
     </div>
</div>
</div>
</div> <!-- end row -->

</section>

 
 
 

